[build-system]
requires = [
    "setuptools>=61.0",
]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = [
    "urnc*",
]

[project]
name = "urnc"
version = "1.0.2"
authors = [
    { name = "Michael Huttner", email = "michael@mhuttner.com" },
]
description = "A package to convert UR FIDS jupyter notebooks"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "nbconvert >= 7.8.0",
    "semver >= 3.0.1",
    "click >= 8.1.3",
    "PyYaml >= 6.0.1",
    "tomli_w >= 1.0.0",
    "GitPython >= 3.1.31",
]

[project.scripts]
urnc = "urnc.main:main"

[project.urls]
Homepage = "https://github.com/spang-lab/urnc"
"Bug Tracker" = "https://github.com/spang-lab/urnc/issues"
