.DS_Store
.ipynb_checkpoints/
.jupyter/
.virtual_documents
.vscode/
*.bkp
images/dev/
lectures/_build/
public/
student/
tmp/
website/
assignments/*
!assignments/01*.ipynb
!assignments/02*.ipynb
!assignments/03*.ipynb
container/
lectures/_config.yml
lectures/_toc.yml
scripts
config.yaml
README.md
