name: Test
on: { push: { branches: [ main ] }, pull_request: { branches: [ main ] } }
jobs:
  test:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.python-version }})
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,  python-version: '3.13'} # Feature
          - {os: ubuntu-latest,  python-version: '3.12'} # Bugfix
          - {os: ubuntu-latest,  python-version: '3.11'} # Security
          - {os: ubuntu-latest,  python-version: '3.10'} # Security
          - {os: ubuntu-latest,  python-version: '3.9'}  # Security
          - {os: macos-latest,   python-version: '3.13'}
          - {os: macos-latest,   python-version: '3.9'}
          - {os: windows-latest, python-version: '3.13'}
          - {os: windows-latest, python-version: '3.9'}
    env:
      JUPYTER_PLATFORM_DIRS: 1 # required to prevent deprecation warning
      UR_GIT_URL: ${{ secrets.UR_GIT_URL }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.config.python-version }}
        uses: actions/setup-python@v5
        with: { python-version: ${{ matrix.config.python-version }} }
      - name: Install urnc with dev dependencies
        run: python3 -m pip install .[dev]
      - name: Run test suite
        run: pytest
